@import "./variables.scss";

.main_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    padding: 1rem;

    .img_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .link{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .coffee_store_name{
            font-size: 2rem;
            font-weight: bold;
            color: $text-white;
            &::before{
                content: "";
                display: block;
                margin-top: 1px;
            }
        }
        .img_container{
            position: relative;
            width:100%;
            height: 50vh;
            .img{
                border-radius: 2rem;
            }
            
        }
        
    }

    .coffee_store_infos_container{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .info_container{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap:1rem;
            .icon {
                color: $text-white;
                font-size: 1.2rem;
            }
            span{
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        button {
            background-color: var(--text-purple-dark);
            cursor: pointer;
            color: white;
            outline: 0;
            border: 0px;
          
            padding-top: 1rem /* 16px */;
            padding-bottom: 1rem /* 16px */;
            font-size: 1.125rem /* 18px */;
            line-height: 1.75rem /* 28px */;
            padding-left: 2.5rem /* 40px */;
            padding-right: 2.5rem /* 40px */;
          }
          
          .button:hover {
            background-color: var(--text-purple-dark);
          }
    }
}

@media (min-width: 640px) {
   
}
   
  
@media (min-width: 768px) {
    .main_container{
        flex-direction: row;
        .img_section{
            width: 30vw;
            .img_container{
                width: 100%;
                height: 60vh;
            }
        }
    }
    .coffee_store_infos_container{
        width: 30vw;
    }
    

  }
  
@media (min-width: 1024px) {
   
  }
  
@media (min-width: 1280px) {
   
  }
  
  
  
  